game-field-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.topLeft')
game-field-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.topRight')
game-field-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.left')
game-field-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.right')
game-field-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.bottomLeft')
game-field-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.bottomRight')

//h4('style'='margin: -50px 0 0 -100px') {{ cell.q }}-{{ cell.r }}
