ng-container('*ngIf'='cell')
	.game-cell-side(style='transform: rotate(-30deg) translate(-15px, 0)')
	.game-cell-side(style='transform: rotate(30deg) translate(3px, 0px)')
	.game-cell-side(style='transform: rotate(-90deg) translate(-10px, -20px)')
	.game-cell-side(style='transform: rotate(90deg) translate(5px, -10px)')
	.game-cell-side(style='transform: rotate(-150deg) translate(4px, -18px)')
	.game-cell-side(style='transform: rotate(150deg) translate(2px, -8px)')
