game-field-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.topLeft')
game-field-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.topRight')
game-field-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.left')
game-field-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.right')
game-field-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.bottomLeft')
game-field-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.bottomRight')

.type('[style.background-image]'='typeImage')

// h4('style'='margin: -60px 0 0 0px') {{ cell.q }}-{{ cell.r }}
//h4('style'='margin: -60px 0 0 0px') {{ cell.type }}
