game-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.topLeft')
game-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.topRight')
game-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.left')
game-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.right')
game-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.bottomLeft')
game-cell-side('[sizeCoefficient]'='sizeCoefficient', '[cellSide]'='cell.bottomRight')
