game-field-cell-house.house.left('[house]'='cellSide.leftHouse', '[sizeCoefficient]'='sizeCoefficient')
.road {{ cellSide.road.road }} {{ cellSide.road.connections }}-{{ cellSide.road.random }}
game-field-cell-house.house.right('[house]'='cellSide.rightHouse', '[sizeCoefficient]'='sizeCoefficient')
