//ng-container('*ngIf'='gameNodeService')
//	.container-fluid
//		.row
//			.col
//				signaling-console('[peerType]'='peerType', '[peerNodeService]'='gameNodeService.playerNodeService.peerNodeService')
//				master-console('*ngIf'='peerType === PeerType.MASTER')
//				slave-console('*ngIf'='peerType === PeerType.SLAVE')
//			.col
//				button.btn.btn-big.btn-danger('(click)'='destroyPeer()') DISCONNECT

game-screen('[gameNodeService]'='gameNodeService')