:host {
	display: flex;

	/**
		Do not display duplicate cell sides.
	 */
	//&.has-connections {
	//	&.top-left,
	//	&.bottom-left,
	//	&.left {
	//		visibility: hidden;
	//	}
	//}

	/*
		Display no houses in overlapping house holders.
	 */
	//&.left
	//&.top-right,
	//&.bottom-right {
	//	.house {
	//		visibility: hidden;
	//	}
	//}

	//&.bottom-left.has-no-connections {
	//	.house.right {
	//		visibility: hidden;
	//	}
	//}

	/**
		Display cell sides with house holders over other cell sides.
	 */
	//&.top-left,
	//&.bottom-left,
	//&.right {
	//	position: relative;
	//	z-index: 100;
	//}
}

.house {
	width: 25%;

	border-radius: 50%;
	background: red;
}

.road {
	flex: 1;
}
