:host {
	display: block;
}

.field {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.field-row {
	display: flex;
	align-items: center;
}

.field-cell {
	width: (100 / 7) %;
}
