h1 Field Assembler

game-field('[sizeCoefficient]'='sizeCoefficient')


form
	input('type'='range', step='0.01', min='3', max='5', '[(ngModel)]'='sizeCoefficient', [ngModelOptions]="{standalone: true}")
